.wrapper {
    width: 900px;
    margin: 0 auto;
}

.header-wrapper {
    margin-block: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.logo {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
}

.logo>img {
    width: 50px;
}

